.about {
    .page-header {

        // ---------- Only use images that located in '/public/img/background/...'
        // ---------- and just write the file name in a SINGLE QUOTE, 
        // ---------- first parameter for image that load on DESKTOP
        // ---------- second parameter for image that load on MOBILE

        @include page-header('about_desktop.jpg', 'about_mobile.jpg');
    }

    .content {
        padding-top: 120px;

        .bg-shape-1 {
            position: absolute;
            width: 500px;
            right: -350px;
            z-index: -1;

            @include media-breakpoint-down(md) {
                width: 400px;
                right: -250px;
            }
        }

        &__counter {
            color: $red;
            font-family: 'Montserrat ExtraBold';
            font-style: italic;
            text-decoration: underline;
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__title {
            color: $black;
        }

        &__body {
            margin-top: 20px;
        }
    }

    .content-1 {
        .bg-shadow {
            position: relative;
            width: 30rem;
            height: 40rem;
            background: $primary-color;
            border-radius: 0.5rem;
            box-shadow: 0 0 3rem $shadow;
            left: 3rem;
            bottom: -3rem;
            z-index: 2;

            img {
                position: absolute;
                width: inherit;
                height: inherit;
                object-fit: cover;
                border-radius: 0.5rem;
                left: -3rem;
                top: -3rem;
                z-index: 3;
            }
        }

        span {
            color: $red;
        }

    }

    .content-2 {
        img {
            width: 45rem;
        }

        .media img {
            width: 2rem !important;
        }

        .media-body {
            color: $dark-grey;
        }
    }

    .content-3 {
        .content__counter {
            margin: 0 !important;
        }

        h2 {
            display: table;
            white-space: nowrap;

            &:before,
            &:after {
                border-top: 0.2rem solid $red;
                content: '';
                display: table-cell;
                position: relative;
                top: 0.5em;
                width: 45%;
            }

            &:before {
                right: 2%;
            }

            &:after {
                left: 2%;
            }
        }

        .history {
            background: $primary-color;
            border-radius: 0.5rem;
            margin-top: 4rem;

            p {
                color: $white;
                padding: 4rem;
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-down(md) {

    .about {
        .content {
            padding-top: 6rem !important;

            &__counter {
                font-size: 2.5rem !important;
                margin-top: 7rem !important;
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    .about {
        .content {
            &__counter {
                font-size: 2rem !important;
            }

            &__title {
                font-size: 3rem !important;
            }
        }

        .content-1 {
            .bg-shadow {
                width: 25rem !important;
                height: 35rem !important;
                left: 2rem !important;
                bottom: -2rem !important;

                img {
                    left: -2rem !important;
                    top: -2rem !important;
                }
            }
        }


        .content-2 {
            img {
                width: 30rem !important;
            }
        }
    }


}
