// HOMEPAGE INCLUDES 5 SECTIONS :
// ========== 1. BANNER =======================
// ========== 2. SUPPLIER =====================
// ========== 3. COMPANY DESCRIPTION ==========
// ========== 4. PRODUCT HIGHLIGHT ============
// ========== 5. CONTACT ======================

#home {

    // ====================================
    // ========== BANNER SECTION ==========
    // ====================================

    .banner {
        height: 100vh;
        background: linear-gradient(to right, $white, rgba($white, 0.3)), url('/img/background/home-banner_desktop.jpg') no-repeat center;
        background-size: cover;

        @include media-breakpoint-down(sm) {
            align-items: center;
            background: linear-gradient(rgba($white, 0.85)), url('/img/background/home-banner_mobile.jpg') no-repeat center;
            background-size: cover;
        }

        &-title {
            font: 5rem 'Montserrat Black';
            left: -430px;
            width: 140%;

            @include media-breakpoint-down(lg) {
                left: -350px;
            }

            @include media-breakpoint-down(md) {
                left: -280px;
                width: 150%;
            }

            @include media-breakpoint-down(sm) {
                text-align: center;
                line-height: 1.1;
                padding-bottom: 0.2em;
                left: 0;
                width: 100%;
                font-size: 4.3rem;
            }
        }

        &-subtitle {
            color: $dark-grey;
            left: -290px;
            font-size: 1.7rem;

            @include media-breakpoint-down(md) {
                left: -240px;
            }

            @include media-breakpoint-down(sm) {
                left: 0;
            }
        }

        .btn {
            left: -172px;
            margin-top: 0.6em;

            @include media-breakpoint-down(md) {
                left: -115px;
            }

            @include media-breakpoint-down(sm) {
                left: 0;
            }
        }

        & * {
            position: relative;
        }
    }

    .shape-1 {
        left: 0;
        width: 65%;
    }

    .shape-2 {
        right: 0;
        width: 50%;
        filter: drop-shadow(-4px -4px 3px $shadow);
    }

    .shape-1,
    .shape-2 {
        bottom: 0;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    // ======================================
    // ========== SUPPLIER SECTION ==========
    // ======================================

    section:nth-child(2) {
        .section-title {
            margin: 6rem 0;
        }

        .supplier {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

            @include media-breakpoint-between(md, lg) {
                grid-template-columns: repeat(2, minmax(30rem, 30rem));
                justify-content: center;
            }

            @include media-breakpoint-down(xs) {
                width: 75%;
            }

            grid-auto-rows: 22rem;
            grid-gap: 2.6rem;

            &__item {
                display: grid;
                place-items: center;
                box-shadow: 0 0 3rem $shadow;
                padding: 2rem 0;
                border-radius: 1rem;

                img {
                    width: 13rem;
                }
            }
        }

        .btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5rem;
        }
    }

    // =================================================
    // ========== COMPANY DESCRIPTION SECTION ==========
    // =================================================

    section:nth-child(3) {
        .w-75 {
            @include media-breakpoint-down(md) {
                width: 100% !important;
            }
        }

        .content {
            margin-top: 12rem;

            .btn {
                @include media-breakpoint-down(md) {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            img {
                width: 30rem;
            }
        }


        .bg-text {
            font-family: 'Montserrat Bold';
            font-size: 300px;
            color: $light-grey;
            z-index: -99;
            top: -100px;
            left: -50px;
        }
    }

    // ===============================================
    // ========== PRODUCT HIGHLIGHT SECTION ==========
    // ===============================================

    section:nth-child(4) {
        margin-top: 12rem;
        background: linear-gradient(to bottom right, $red, rgba(#FF6F00, 0.7));

        a {
            text-decoration: none;
        }


        // ========== VERTICAL SENTENCE ==========

        span {
            position: absolute;
            top: 275px;
            right: -35px;
            font-family: 'Montserrat Bold';
            font-size: 1.8rem;
            color: $black;
            opacity: 0.3;
            transform: rotate(90deg);

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .product-thumbnail {
            position: relative;
            background: $white;
            box-shadow: 0 0 3rem $shadow;
            height: 15rem;
            border-radius: 0.5em;
            transition: all 0.3s ease;
            cursor: pointer;

            @include media-breakpoint-down(md) {
                padding: 2em 0.5em;
            }

            @include media-breakpoint-down(sm) {
                height: auto;
            }

            &:hover {
                box-shadow: 0 0 3rem $shadow;
                transform: scale(1.15);
                z-index: 1;

                .product-thumbnail__icon {
                    transform: rotate(180deg);
                }
            }

            &__text {
                font-size: 1.5rem;
                color: $red;
                font-family: 'Montserrat SemiBold';
                margin-bottom: 0.3em;
                line-height: 1.2;
            }

            &__icon {
                width: 2.5rem;
                transition: all 0.3s ease;
            }

            &__image {
                width: 8rem;
            }
        }

        .product-preview {
            position: relative;
            background: $white;
            box-shadow: 0 0 3rem $shadow;
            height: 40rem;
            border-radius: 0.5em;

            @include media-breakpoint-down(sm) {
                height: auto;
            }

            &__image {
                width: 55%;
                height: auto;

                @include media-breakpoint-down(sm) {
                    padding: 6em 0;
                }
            }

            &__name {
                position: absolute;
                bottom: -4rem;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                font-family: 'Montserrat Black';
                font-size: 8rem;
                color: $black;
                opacity: 0.2;

                @include media-breakpoint-down(md) {
                    bottom: -2.5rem;
                    font-size: 5rem;
                }
            }
        }

        .vertical-line {
            position: absolute;
            width: 2px;
            background: $white;
            height: 120px;
            top: 0;
            right: 120px;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    // =====================================
    // ========== CONTACT SECTION ==========
    // =====================================

    section:nth-child(5) {
        position: relative;
        background: linear-gradient(rgba($black, 0.6)), url('/img/background/contact_desktop.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50rem;
        display: grid;
        place-content: center;
        place-items: center;
        text-align: center;

        .section-title {
            padding: 0.5em 0 0.8em 0;
            color: $white;
        }

        .contact {
            color: $white;

            &__icon {
                width: 5rem;
                height: 5rem;
            }

            &__number {
                font-family: 'Montserrat LightItalic';
                font-size: 2.8rem;
            }
        }
    }
}
