#infrastructure {
    .page-header {
        
        // ---------- Only use images that located in '/public/img/background/...'
        // ---------- and just write the file name in a SINGLE QUOTE, 
        // ---------- first parameter for image that load on DESKTOP
        // ---------- second parameter for image that load on MOBILE

        @include page-header('infrastructure_desktop.jpg', 'infrastructure_mobile.jpg');
    }

    .warehouse {
        &__details {
            position: relative;
            box-shadow: 0 0 30px $shadow;
            border-radius: 5px;
            margin-top: 350px;
            padding-top: 100px;
            h4 {
                font-family: 'Montserrat SemiBold';
                font-size: 1.9rem;
                margin-bottom: 5px;
            }
            p {
                color: $red;
                margin-bottom: 20px;
            }

            &--thumbnail {
                position: absolute;
                width: 90%;
                height: 350px;
                left: 50%;
                top: -300px;
                z-index: 1;
                transform: translateX(-50%);


                img {
                    box-shadow: 0 0 30px $shadow;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &--name {
                    position: absolute;
                    box-shadow: 0 10px 30px $shadow;
                    border-radius: 5px;
                    z-index: 2;
                    background: $primary-color;
                    text-align: center;
                    bottom: -22.5px;
                    max-width: 95%;

                    h3 {
                        color: $white;
                        font-family: 'Montserrat SemiBold';
                        font-size: 25px;
                        margin: 0;
                        padding: 10px 30px;
                    }
                }
            }
        }
    }
}
