#product {
    .page-header {

        // ---------- Only use images that located in '/public/img/background/...'
        // ---------- and just write the file name in a SINGLE QUOTE, 
        // ---------- first parameter for image that load on DESKTOP
        // ---------- second parameter for image that load on MOBILE

        @include page-header('product_desktop.jpg', 'product_mobile.jpg');
    }

    .product {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: min-content;
        grid-gap: 20px;

        &__item {
            box-shadow: 0 0 30px $shadow;
            border-radius: 5px;
            position: relative;

            &--supplier {
                position: absolute;
                top: 8px;
                left: 8px;
                box-shadow: 0 0 30px $shadow;
                border-radius: 5px;
                img[alt="Sukanda Djaya"] {
                    margin: 5px;
                    height: 70px;
                    width: 70px;
                }

                img {
                    margin: 10px 20px;
                    height: 20px;
                }
            }

            &--image {
                display: grid;
                place-items: center;

                img {
                    height: 14rem;
                    margin-top: 8rem;
                    margin-bottom: 3rem;
                }
            }

            &--name {
                font-family: 'Nunito ExtraBold';
                font-size: 2rem;
                background: $primary-color;
                padding: 1rem 2rem;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                margin: 0;
                color: $white;
            }
        }
    }
}
