#product {
    .page-header {

        // ---------- Only use images that located in '/public/img/background/...'
        // ---------- and just write the file name in a SINGLE QUOTE, 
        // ---------- first parameter for image that load on DESKTOP
        // ---------- second parameter for image that load on MOBILE

        @include page-header('product_desktop.jpg', 'product_mobile.jpg');
    }

    .product {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        @include media-breakpoint-down(sm) {
            max-width: 80%;
        }
        grid-auto-rows: min-content;
        grid-gap: 40px;

        &__item {
            box-shadow: 0 0 3rem $shadow;
            border-radius: 0.5rem;
            position: relative;

            &--supplier {
                position: absolute;
                top: 1rem;
                left: 1rem;
                box-shadow: 0 0 3rem $shadow;
                border-radius: 0.5rem;
                // Add another porperties because the logo is square
                img[alt="Sukanda Djaya"],
                img[alt="PT. Vixon Indonesia"] {
                    margin: 5px;
                    height: 65px;
                    width: 65px;
                }

                img {
                    margin: 10px 20px;
                    height: 16px;
                }
            }

            &--image {
                display: grid;
                place-items: center;

                img {
                    height: 12rem;
                    margin-top: 8rem;
                    margin-bottom: 3rem;
                }
            }

            &--name {
                font-family: 'Nunito Bold';
                display: inline-block;
                font-size: 1.8rem;
                background: $primary-color;
                padding: 0.5rem 2rem;
                border-radius: 0.5rem;
                box-shadow: 0 0 3rem $shadow;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 1rem;
                margin-bottom: 2.5rem;
                color: $white;
            }
        }
    }
}
