#supplier {
    .page-header {

        // ---------- Only use images that located in '/public/img/background/...'
        // ---------- and just write the file name in a SINGLE QUOTE, 
        // ---------- first parameter for image that load on DESKTOP
        // ---------- second parameter for image that load on MOBILE

        @include page-header('supplier_desktop.jpg', 'supplier_mobile.jpg');
    }

    .supplier.container {
        max-width: 65%;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .supplier {
        &__logo,
        &__desc {
            box-shadow: 0 0 30px $shadow;
            border-radius: 5px;
        }

        &__logo {
            position: absolute;
            background: $white;
            width: 250px;
            height: 80px;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);

            img {
                height: 40px;
            }
            img[alt="Sukanda Djaya"] {
                height: 80px;
            }
        }

        &__desc {
            position: relative;
            margin-top: 80px;
            padding: 80px 40px 40px 40px;

            @include media-breakpoint-down(sm) {
                padding-left: 20px;
                padding-right: 20px;
            }

            .blockquote-footer {
                font-size: 1.2rem;
                font-family: 'Nunito Bold';
            }
        }

        &__title {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            font-family: 'Montserrat SemiBold';
            text-align: center;
            display: inline-block;
            border-radius: 5px;
            font-size: 3rem;
            background: $primary-color;
            color: $white;
            padding: 10px 20px;
            margin-bottom: 40px;

            @include media-breakpoint-down(sm) {
                font-size: 25px;
            }
        }
    }
}
