.btn {
    font-size: 1.6rem;
    font-family: 'Montserrat SemiBold';
    padding: 0.6em 1.4em;
    border-radius: 0.5em;

    &.outline {
        border: 0.1em solid $red;
        color: $red;
    }

    &.fill {
        background: $primary-color;
        color: $white;
        box-shadow: 0 0 3rem $shadow;
    }
}

.back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 0.5em;
    background: rgba($red, 0.8);
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;

    &:hover {
        background: rgba($red, 1);
        box-shadow: 0 0 30px $shadow;
    }

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    img {
        padding: 10px;
        width: 50px;

        @include media-breakpoint-down(sm) {
            padding: 6px;
            width: 40px;
        }
    }
}
