// Base Text Size adjusment for easier multiplier when using 'rem' unit
:root {
    font-size: 10px;

    @include media-breakpoint-down(md) {
        font-size: 9px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 8px;
    }
}

body {
    background: $white;
    overflow-x: hidden;
}

// h1 {
//     font-size: 9rem;
// }

// h2 {
//     font-size: 4rem;
// }

// h3 {
//     font-size: 3rem;
// }

// h4 {
//     font-size: 2.5rem;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $red;
    font-family: 'Montserrat ExtraBold';
}

// Text Body / Content

p,
li {
    font-family: 'Nunito SemiBold';
    font-size: 1.8rem;
    line-height: 1.65;
    color: $black;
}
