// ---------- Mixin to Load Background Images on Header Section in each page
// --------------------------------------------------------------------------------

@mixin page-header($name_desktop, $name_mobile) {
    position: relative;
    background: linear-gradient(rgba($black, 0.6)),
    url('/img/background/#{$name_desktop}') no-repeat center;
    background-size: cover;
    height: 30rem;

    @include media-breakpoint-down(sm) {
        background: linear-gradient(rgba($black, 0.6)),
        url('/img/background/#{$name_mobile}') no-repeat center;
        background-size: cover;
        height: 24rem;
    }

    // ---------- Header Section Title ( like: About Us, Infrastructure, etc...)

    &__title {
        position: absolute;
        bottom: 3rem;
        font: 7rem 'Montserrat Black';
        color: $white;

        @include media-breakpoint-down(sm) {
            bottom: 1.5rem;
            font-size: 5rem;
        }
    }
}