.footer {
    background-color: $white;
    font: 1.2rem 'Montserrat SemiBold';
    padding: 5rem 0;

    &-title {
        font: 1.5rem 'Montserrat Bold';
    }

    &-link {
        // ============================================================================
        // ========== USING "!important" TO OVERRIDE BOOTSTRAP DEFAULT STYLE ==========
        // ============================================================================
        text-decoration: none !important;
        transition: color .3s ease;

        &:hover {
            color: darken($dark-grey, 30%);
        }
    }
    &-copyright {
        line-height: 1.5;
    }
}

.footer,
.footer-title,
.footer-link {
    // ==========================================
    // ========== FONT COLOR IN FOOTER ==========
    // ==========================================
    color: $dark-grey;
}
