.footer {
    background-color: $white;
    color: $dark-grey;
    font: 1.3rem 'Montserrat SemiBold';
    padding: 5rem 0;

    &__nav-link {
        color: $dark-grey;
        text-decoration: none !important;
        transition: color .3s ease;
        &:hover {
            color: darken($dark-grey, 30%);
        }
    }
}