.navbar {
    background: $white;
    box-shadow: 0 0 30px $shadow;

    .navbar-toggler {
        border: 2px solid $red;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 60, 60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        width: 2.5rem;
        height: 2.5rem;
    }

    .navbar-brand {
        font-family: 'Montserrat Black';
        font-size: 3rem;
        color: $red;
    }

    .nav-item {
        font-size: 1.7rem;
        color: $red;
        font-family: 'Nunito Bold';
        transition: all .2s ease;
        padding: 10px 15px !important;
        &.active {
            background: $red;
            color: $white;
        }

        &:hover {
            background: lighten($red, 10%);
            color: $white;
        }
    }
}

@include media-breakpoint-down(sm) {
    .nav-item {
        text-align: center;
        padding: 20px 0 !important;
        font-size: 18px !important;

        &:hover {
            background: $white !important;
            color: $red !important;
        }
    }
}
