    // ---------- Bootstrap Style Naming (not use BEM naming convention)----------

.navbar {
    background-color: $white;
    box-shadow: 0 0 3rem $shadow;

    &-brand {
        font: 3.3rem 'Montserrat Black';
        color: $red;
    }

    &-toggler {
        border: 0.2rem solid $red;
        border-radius: 0.5rem;

        &-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 60, 60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            width: 3rem;
            height: 3rem;
        }
    }

    .nav-item {
        font: 1.6rem 'Nunito Bold';
        color: $red;
        transition: all 0.2s ease;
        border-radius: 0.5rem;

        &:hover {
            background-color: $red;
            color: $white;
        }

        @include media-breakpoint-down(sm) {
            padding: 2rem 0;
            font-size: 2.5rem;
        }
    }
}